:root {
    --background-page-color: #e5e5e5;
    --brand-color-blue: #2196f3;
    --brand-color-background: #2f303a;
    --brand-color-black: #212121;
    --brand-color-grey: #f5f4fa;
    --brand-color-white: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--brand-color-black);
    background-color: var(--background-page-color);
}

.container {
    box-sizing: border-box;
    width: 1200;
    margin: auto;
}

.menu {
    background-color: #FFFFFF;
}

.menu-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.menu-logo-top {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: #000000;
}

.menu-logo-bottom {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.contact:hover,
.contact:focus {
    color: #2196F3;
}

.navigation {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.link-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: #212121;
}

.link-nav:hover,
.link-nav:focus {
    color: #2196F3;
}

.text-dec {
    text-decoration: none;
}

.pointer {
    font-family: 'Roboto';
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border: none;
    display: inline-block;
    width: 117px;
    height: 30px;

}

.pointer:focus {
    color: #FFFFFF;
    background-color: #2196F3;
    }

.pointer2 {
    font-family: 'Roboto';
    cursor: pointer;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 1,87;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color:#2196f3;
    border: none;
    display: inline-block;
    width: 200px;
    height: 50px;
}

.pointer2:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.button-main:hover
 {
    color: #FFFFFF;
    background-color: #2196F3;
}


.button-main2:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

.heading1 {
    font-style: normal;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.heading2 {
    font-style: normal;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
    letter-spacing: 0.03em;
}

.heading3 {
    font-style: normal;
    font-size: 16px;
    line-height: 1,14;
    letter-spacing: 0.06em;
}

.text {
    font-style: normal;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: #757575;
}

.background {
    background: #2F303A;
}

.footer {
    background-color: #2F303A;
}

