:root {
    --background-page-color: #e5e5e5;
    --brand-color-blue: #2196f3;
    --brand-color-background: #2f303a;
    --brand-color-black: #212121;
    --brand-color-grey: #f5f4fa;
    --brand-color-white: #ffffff;
    --brand-color-text-grey: #757575;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--brand-color-black);
    background-color: var(--background-page-color);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.menu {
    background-color: var(--brand-color-white);
}

.menu-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color-blue);
    
}

.menu-logo-top {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color-black);
}

.menu-logo-bottom {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
}

.contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: var(--brand-color-text-grey);
}

.contact-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
}

.contact:hover,
.contact:focus {
    color: var(--brand-color-blue);
}

.navigation {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color-black);
}

.link-nav:hover,
.link-nav:focus {
    color: var(--brand-color-blue);
}

.text-dec {
    text-decoration: none;
}

.pointer {
    font-family: 'Roboto';
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--brand-color-black);
    background-color: var(--brand-color-grey);
    border: none;
    display: inline-block;
    width: 117px;
    height: 30px;

}

.pointer:focus {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
    }

.pointer2 {
    font-family: 'Roboto';
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
    border: none;
    display: inline-block;
    width: 200px;
    height: 50px;
}

.pointer2:focus {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
}

.button-main:hover
 {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
}


.button-main2:hover {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
}

.heading1 {
    font-style: normal;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--brand-color-white);
}

.heading2 {
    font-style: normal;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.heading3 {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.06em;
}

.heading4 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--brand-color-black);
}

.text {
    font-style: normal;
    font-size: 16px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color-text-grey);
}

.text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18x;
    letter-spacing: 0.03em;
    color: var(--brand-color-text-grey);
}

.text3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--brand-color-text-grey);
}

.background {
    background-color: var(--brand-color-background);
}

.footer {
    background-color: var(--brand-color-background);
}

